In [4]:
import pandas as pd

df = pd.read_excel('./sample_data1.xlsx')
print(df)

   ID           NAME   BIRTHDAY  AGE SEX       JOB_TITLE       AGENCY
0   1             IU 1993-05-16   29   F  Singer, Talent    EDAM Ent.
1   2      Lee Mi Ju 1994-09-23   28   F          Singer    Ulim Ent.
2   3      Song Gang 1994-04-23   28   M          Talent  Tree Actors
3   4  Gang Dong Won 1981-01-18   41   M   Actor, Talent      YG Ent.
4   5    Yu Jae Seok 1972-08-14   50   M    MC, Comedian      Antenna
5   6  Cha Seung Won 1970-06-07   48   M    Actor, Model      YG Ent.
6   7    Lee Su Hyun 1999-05-04   23   F          Singer      YG Ent.

In [15]:
df['SEX'] == 'F'

0     True
1     True
2    False
3    False
4    False
5    False
6     True
Name: SEX, dtype: bool

In [16]:
df.query('("2000-01-01" <= BIRTHDAY) and (BIRTHDAY <= "1999-05-04")')

Empty DataFrame
Columns: [ID, NAME, BIRTHDAY, AGE, SEX, JOB_TITLE, AGENCY]
Index: []

In [ ]:
for i in df.query('"F" in SEX'):

ID
NAME
BIRTHDAY
AGE
SEX
JOB_TITLE
AGENCY

In [27]:
df['AGE'][0]

29